/* Container bao toàn bộ */
.header-container {
    width: 100%;
    background-color: #3498db; /* Màu nền chung */
    position: fixed;
    top: 0;
    z-index: 2000;
}

/* Phần top-bar */
.top-bar {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
}

.top-bar a {
    text-decoration: none; /* Bỏ gạch chân */
    color: white;          /* Màu chữ */
    margin: 0 0px;         /* Giảm khoảng cách giữa hai liên kết */
    font-size: 16px;       /* Kích thước chữ */
}

.top-bar a:hover {
    color: orange;         /* Màu khi hover */
}

/* Phần nav1 (menu) */
.nav1 {
    padding: 0px 0; /* Khoảng cách cho menu */
    background-color: #3498db;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    color: white;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Tránh nội dung chính bị che */
body {
    padding-top: 100px; /* Điều chỉnh theo chiều cao của header */
    height: 10000px;
}

.form1{
    height: 500px;
    border-radius: 20px;
    justify-items: center;
    background-image: url(backgroundLoichien.png);
    background-size: cover;
}
.form2{
    background-image: url(deal2.jpg);
    height: 500px;
    background-size: cover;
    border-radius: 20px;
}
.nen2{
    background-color: darkgrey;
    border-radius: 5px;
}

/*new*/
.main{
    height: 1000px;
}
.row{
    margin: 10px 0px;
    margin-top: 100px;
}
.banner img{
    width: 100%;
    height: auto;
    transform:translateY(-45px) ;
    top: 45px;
}
/* CSS phần content */
img{
    width: 100%;
}
.main .row img{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(5, 5, 5, 0.374);

}
.row-item{
    padding-top: 30px;
}
.row a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 0.5s;
}
.row a:hover{
    color: orange;
}
.product_price{
    font-size: 12px;
    color:rgb(86, 85, 85);
}
/* CSS cho phần quảng cáo Trà xanh */
.advertisement{
    background-color: #3498db;
}
.advertisement a{
    text-decoration: none; /* Bỏ gạch chân */
    color: white;          /* Màu chữ */
    margin: 0 0px;         /* Giảm khoảng cách giữa hai liên kết */
    font-size: 16px;
}
.advertisement a:hover {
    color: orange;         /* Màu khi hover */
}
