body {
    text-align: center;
    background-image: url(backgroudASM.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao của màn hình */
    margin: 0; /* Loại bỏ margin mặc định */
}
.User{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 35px; 
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/551/599/original/user-icon-vector.jpg');
    background-size: 20px 20px;
    background-position: 5px center;
    background-repeat: no-repeat;
}
.Pass{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding-left: 35px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3064/3064197.png'); 
    background-size: 20px 20px;
    background-position: 5px center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
.new{
    background: black;
    color: white;
    width: 240px;
    height: 30px;
    border-radius: 5px;
}
.login{
    background: black;
    color: white;
    width: 240px;
    height: 30px;
    border-radius: 5px;
}
.crnew {
    font-size: 14px; /* Kích thước chữ */
    margin-top: 10px; /* Khoảng cách phía trên */
}

.crnew a {
    color: rgb(14, 13, 13); /* Màu chữ của liên kết */
    text-decoration: none; /* Xóa gạch chân */
    display: inline-block; /* Để tạo khoảng cách giữa các dòng */
    margin: 5px 0; /* Khoảng cách trên dưới */
}

.crnew a:hover {
    color: rgb(29, 10, 173); /* Màu chữ khi di chuột qua */
    text-decoration: underline; /* Gạch chân khi di chuột */
}
.form-container {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tạo bóng để giao diện nổi bật hơn */
}





